*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
    background:linear-gradient(
        135deg,
        #0f172a,
        #1e3a8a,
        #3b82f6
    );
    overflow:hidden;
}

.container{
    width:100%;
    max-width:450px;
    padding:30px;
    border-radius:25px;
    text-align:center;

    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,0.2);

    box-shadow:
    0 8px 32px rgba(0,0,0,0.3);

    animation:floatCard 4s ease-in-out infinite;
}

@keyframes floatCard{
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-12px);
    }
    100%{
        transform:translateY(0);
    }
}

h1{
    color:white;
    margin-bottom:25px;
    font-size:2rem;
    letter-spacing:1px;
    text-shadow:2px 2px 10px rgba(0,0,0,0.3);
}

input{
    width:100%;
    padding:14px;
    border:none;
    outline:none;
    border-radius:12px;
    font-size:16px;

    background:rgba(255,255,255,0.9);

    transition:0.3s;
}

input:focus{
    transform:scale(1.03);

    box-shadow:
    0 0 15px rgba(255,255,255,0.6);
}

button{
    width:100%;
    padding:14px;
    margin-top:15px;

    border:none;
    border-radius:12px;

    font-size:17px;
    font-weight:bold;

    color:white;

    cursor:pointer;

    background:linear-gradient(
        135deg,
        #2563eb,
        #06b6d4
    );

    transition:0.4s;
}

button:hover{
    transform:translateY(-3px);

    box-shadow:
    0 8px 20px rgba(0,0,0,0.3);
}

button:active{
    transform:scale(0.97);
}

#weather-box{
    margin-top:25px;

    padding:20px;

    border-radius:15px;

    background:rgba(255,255,255,0.15);

    animation:fadeIn 1s ease;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

#city-name{
    color:#fff;
    font-size:28px;
    margin-bottom:15px;
}

#weather-box p{
    color:white;
    font-size:18px;
    margin:12px 0;
    font-weight:500;
}

#indicator{
    margin-top:15px;
    color:#fff;
    font-size:16px;
    animation:blink 1s infinite;
}

@keyframes blink{
    50%{
        opacity:0.4;
    }
}

/* Mobile Responsive */

@media(max-width:500px){

    .container{
        padding:20px;
    }

    h1{
        font-size:1.6rem;
    }

    #city-name{
        font-size:22px;
    }

    #weather-box p{
        font-size:16px;
    }
}